.env
.env.local
.venv/

__pycache__/
*.pyc
*.pyo
*.pyd


db.sqlite3
db.sqlite3-journal
*.log
media/
staticfiles/


.coverage
htmlcov/
.pytest_cache/
*.cover

#
.vscode/
.idea/
*.swp
.DS_Store


build/
dist/
*.egg-info/